body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.game-card {
    padding: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
}

.btn {
    margin-top: 20px;
}
